body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body, #__next {
  height: 100%;
  margin: 0;
}

.site-layout .site-layout-background {
  background: tomato;
}

.trigger {
  padding: 0 24px;
  font-size: 18px;
  cursor: pointer;
}

.table-container {
  overflow-x: auto; 
  width: 100%;
}
